<!DOCTYPE html>
{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/projects.css' %}" >
  <link rel="icon" href="{% static 'img/logo.png' %}">
</head>

<body>
  <div class="container">
    <div class="row">
     <br><br>
     <div class="col m6 card-panel white offset-m3">
       <h1>Become a planman</h1>
       <h4>Signing in? That sounds like a plan!</h4>
       <br>
       <a href="{% url 'social:begin' 'google-oauth2' %}?next=/">
        <img id="signInButton" src="http://www.setyourowntests.com/_/rsrc/1468869481521/help/accounts/btn_google_signin_dark_normal_web%402x.png" onclick="document.getElementById('signInButton').src='http://www.setyourowntests.com/_/rsrc/1468869481521/help/accounts/btn_google_signin_dark_normal_web%402x.png'">
       </a>
       <br>
     </div>
    </div>
   </div>
</body>
