<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Delete project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
</head>
<body>
    <a href="/projects/">
        <div id="title-logo">
            <t class="logo-name">PlanMan</t>
            <img src="{% static 'img/logo.png' %}" width="75x" height="75px" alt="PlanMan Logo">
        </div>
    </a>
        <form method="post">
        {% csrf_token %}
        <h1> you sure you want to delete <strong>{{ task.name }}</strong> from <strong>{{ project.name }}</strong>? </h1>
        <h2>You can not undo this!</h2>
        <br>
       
       <input type="submit" value="Delete">
    </form>
        <a href="/projects/"><button>cancel!</button></a>
    </body>
</html>