<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="{% static 'img/logo2.png' %}"/>
    <title>chart</title>

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jexcel/1.5.7/js/jquery.jexcel.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jexcel/1.5.7/css/jquery.jexcel.css" type="text/css" />
    <link href="{% static 'css/3-col-portfolio.css' %}" rel="stylesheet">

  </head>

<body>
  
    <div class="chart">
                    
    <div id="chart"></div>
</div>


    <script type="text/javascript">
    
    var list = {{ list|safe }};
    var debugmsg = {{ debugging|safe }};
    var tasks = {{ tasks|safe }};
    console.log(tasks)

    var colwidths = []
    for (var i in list){
      colwidths.push(90)
    }
  
    data = [
        [''],
    ];
    
    $('#chart').jexcel({
        data:data,
        colHeaders: list,
        colWidths: colwidths,
        minDimensions:[list.length,tasks.length],
        tableOverflow:true,
       
    });
    $('#chart').jexcel('updateSettings', {
    table: function (instance, cell, col, row, val, id) {
        // Number formating

        var today_date = 0;

        for(var task_index in tasks){
          var min_col = 0;
          var max_col = -1;
        for (var date_index in list){
            if(tasks[task_index][1]==list[date_index]){
              min_col = date_index;
            }
            if(tasks[task_index][2]==list[date_index]){
              max_col = date_index;
            }
            if (max_col-min_col > -1){
              if (col == min_col){
                write_cell(task_index,$(cell).html(tasks[task_index][0]));
              }
              for (duration = 0; duration <= max_col-min_col; duration++) {
                  color_cell(task_index,(parseInt(min_col+duration)),'blue');
                }
                break;
              }
            }
          }
        
        


        function write_cell(row_num,text){
            if (row != row_num){
              $(cell).html(text); 
            }
        }
        function color_cell(row_num,col_num,coloring){
            if (row == row_num){
              if (col == col_num){
              $(cell).css('background-color', '#edf3ff');
            }
        }
        }
        
        // if ($('#chart').jexcel('getHeader', 2) == list[2]) {
        //     // Get text
           
        //     txt = $(cell).text();
        //     // Format text
        //     txt = numeral(txt).format('0,0.00');
        //     // Update cell value
        //     $(cell).html(' $ ' + txt);
        // }

        // // Odd row colours
        // if (row % 2) {
        //     $(cell).css('background-color', '#edf3ff');
        // }

        // // Remove controls for the last row
        // if (row == 9) {
        //     if (col < 3) {
        //         $(cell).html('');
        //     } 

        //     if (col == 2) {
        //         $(cell).html('Total');
        //     }

        //     $(cell).css('background-color', '#f46e42');
        //     $(cell).css('color', '#fff');
        // }
    }
});
    </script>
</body>

</html>