<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/projects.css' %}" >
    <script src="main.js"></script>
	<link rel="icon" type="image/png" href="{% static 'img/logo2.png' %}"/>
</head>
<body>
    <a href="/projects/">
        <div id="title-logo">
          <t class="logo-name">PlanMan</t>
          <img src="{% static 'img/logo2.png' %}" width="75x" height="75px" alt="PlanMan Logo">
        </div>
      </a>

 
    <form method="POST">
    {% csrf_token %}
    <div>Email of User You wish to Invite :<input type="text" name="invitee_email"></div>
    <br>
    <input type="submit" value="Invite (email will be sent out from your account for Invite)">
</form>

</body>
</html>