<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <script src="main.js"></script>

    <title>Your Projects</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/3-col-portfolio.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">PlanMan</a>
        <a class="navbar-brand" href="#"><img src="{% static '/img/logo.png' %}" width="40px" height="40px" alt="PlanMan Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Back to Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Your Projects</h1>
      <a href="/project_create">
        <div class='create-project'>
         <h3 class="create-text">Create Project</h3>
         <br>
        </div>
      </a>

      {% if project_list %}
      
       {% for project in project_list %}
       
        <div class="row">
          <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
              <a href="#"></a>
              <div class="card-body">
                <h2 class="card-title">
                  <a href={{ project.project.id }}><strong>{{ project.project.name }}</strong></a>
                </h2>
                <div class='desc'><strong>Description: </strong>{{ project.project.description }}</div>
                <div class='cost'><strong><br>Cost:</strong> {{ project.project.cost }}</div>
                <div class='profit'><strong>Profit: </strong>{{ project.project.profit }}</div>
                <div class='start-date'><strong>Start date:</strong> {{ project.project.start_date }}</div>
                <div class='end-date'><strong>End date:</strong> {{ project.project.end_date }}<br></div>
                <div><strong>Users:</strong></div> 
                <div> {{ project.project.owner.first_name }} <i>({{ project.project.owner.email }})</i> </div>
                {% for user in  project.project_members.users.all  %}
                <div >{{  user.first_name }} <i>({{user.email}})</i><br></div>
                {% endfor %}
                <br>
                <a href='/projects/{{ project.project.id }}/project_edit'>
                  <button>Edit Project</button>
                </a>
                <a href='/projects/{{ project.project.id }}/project_delete'>
                  <button>Delete Project</button>
                </a>
                
              </div>
            </div>
          </div>
        
        
        {% endfor %}
      

      {% else %}
      <p>No projects are available.</p>
      {% endif %}

      
        
      </div>
      <!-- /.row -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>